## 박조은 강사님 inflearn강의  
단 두장의 문서로 데이터 분석과 시각화 뽀개기 
출처: https://www.inflearn.com/course/%ED%8C%90%EB%8B%A4%EC%8A%A4-pandas/lecture/20846?tab=note

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
df = pd.DataFrame({'A':range(1,11),'B':np.random.randn(10)})
df

    A         B
0   1  0.293654
1   2  0.740598
2   3  1.867164
3   4  0.246202
4   5  0.863941
5   6  0.929526
6   7  1.636127
7   8 -1.298519
8   9  0.602621
9  10 -0.366253

In [5]:
#  df.assign(Area=lambda df: df.Length*df.Height)

In [7]:
df.assign(ln_A = lambda x:np.log(x.A)).head()
# lambda 익명함수

   A         B      ln_A
0  1  0.293654  0.000000
1  2  0.740598  0.693147
2  3  1.867164  1.098612
3  4  0.246202  1.386294
4  5  0.863941  1.609438

In [9]:
# df.ln_A= np.log(df.A) 아래와 동일한 방법
df["ln_A"]= np.log(df.A)
df

    A         B      ln_A
0   1  0.293654  0.000000
1   2  0.740598  0.693147
2   3  1.867164  1.098612
3   4  0.246202  1.386294
4   5  0.863941  1.609438
5   6  0.929526  1.791759
6   7  1.636127  1.945910
7   8 -1.298519  2.079442
8   9  0.602621  2.197225
9  10 -0.366253  2.302585

In [10]:
# pd.qcut(df.col, n, labels=False)
#n개의 버킷수만큼 bin을 만든다.
pd.qcut(range(5), 3, labels=["good", "medium", "bad"])

['good', 'good', 'medium', 'bad', 'bad']
Categories (3, object): ['good' < 'medium' < 'bad']

In [13]:
pd.qcut(df.B, 3, labels=["good", "medium", "bad"])
#pd.qcut(range(5), 2, labels=["good", "bad"])
# qcut : 숫자형 데이터를 categorical data로 만들때 사용

0      good
1    medium
2       bad
3      good
4    medium
5       bad
6       bad
7      good
8    medium
9      good
Name: B, dtype: category
Categories (3, object): ['good' < 'medium' < 'bad']

In [16]:
#df.max(axis=1)  #컬럼에서의 최대값
df.max(axis=0) #행(로우)를 기준으로 최대값

A       10.000000
B        1.867164
ln_A     2.302585
dtype: float64

In [20]:
df.min(axis=1)

0    0.000000
1    0.693147
2    1.098612
3    0.246202
4    0.863941
5    0.929526
6    1.636127
7   -1.298519
8    0.602621
9   -0.366253
dtype: float64

In [27]:
#임계치 많큼 값을 trim 해줌
# clip(lower=-10,upper=10)
df["B"].clip(lower=1,upper=3)

0    1.000000
1    1.000000
2    1.867164
3    1.000000
4    1.000000
5    1.000000
6    1.636127
7    1.000000
8    1.000000
9    1.000000
Name: B, dtype: float64

In [30]:
# 절대값 처리 
# 아미너스 값들이 있는데 .abs()를 씌워주면 절대값으로 변환 가능
df["B"].abs()

0    0.293654
1    0.740598
2    1.867164
3    0.246202
4    0.863941
5    0.929526
6    1.636127
7    1.298519
8    0.602621
9    0.366253
Name: B, dtype: float64